a {
  font-size: calc(var(--font-base-size) * 1.3);
  color: var(--font-color);
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: var(--font-hover-color);
  transition: color .3s;
}
